{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Start your project here-->
    <div class="container">
        <div class="card" >
            <div class="card-body">
                <h1 align="center">Регистрация</h1>
                <form action="" method="post">
                  {% csrf_token %}
                  <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
                  {{ form.as_p }}
                  <button type="submit" align="center" class="btn success-color">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}